body {
    background-color:#ffffff;
    color:blue;
    font-size: 120%;
    
    font-family: "Clear Sans", "Helvetica Neue"
  }
  html {
    scroll-behavior: smooth;
  }
  
  #google {
    height: 100px;
    width: 100%;
    color:blue;
      
    scroll-margin-block-start: 200px;
    /Adds margin to the top of the viewport/    
    scroll-margin-block-end: 110pxx;
    /Adds margin to the bottom of the viewport/
  
  }
  #googl {
    padding-top: 500px;
    width: 100%;
  }
  .pro{

    font-size:13px;
  
  }